.radio {
    margin-right: 11px;
    width: 24px;
    height: 24px;
    accent-color: #000000;
}

.radio::before {
}


.radio:checked::before {
}

.label {
    display: flex;
    margin-bottom: 16px;

}

.options {
    display: flex;
    flex-direction: column;
}
.span {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}
