.buttonsContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 55px;
    width: 190px;
    height: 30px;
}
.buttonsContainer > * {
    width: 82px;
    height: 30px;

    background: #0066CC;
    border-radius: 3px;
}
.clock {
    display: flex;
    flex-direction: column;

}

.watch {
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}

.watch strong {
    font-weight: 700;
}

.more {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.5);
}