.button {
    padding: 5px 24px;
    gap: 10px;
    width: 132px;
    height: 30px;
    background: #0066CC;
 border: none;
    border-radius: 3px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
}

.disabled {
    color: #002E5C;
    background: #004D99;
    opacity: 0.5;
}

.secondary {
    border: 1px solid #0066CC;
    background-color: transparent;
    color: #0066CC;
}

.default {
    background-color: #0066CC;
}

.red {
    background: #CC1439;
    border-color: #CC1439 ;
}

.default:hover {
}

.red:hover {
}

.secondary:hover {
}


.default:active {
}

.secondary:active {
}

.red:active {
}

.button:disabled {
}
