.container {
}

.wrapper {
    width: 180px;
    display: flex;
    align-items: center;
}

.number {
    margin: 0 15px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}
